
h2 {
    font-family: 'Original Surfer', cursive;
    color: white;
}

.card {
    background-color: #A9B2CA;
}

.navbar {
    font-family: Montserrat, sans-serif;
    background-color: rgba(255, 255, 255, 0);
}

p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: black;
    align-self: center;
    
}

footer {
    background-color: #F4F0ED; 
}

.myFooter {
    color: #9E9E9E;
}

.backgroundImage {
    max-width: 100%;
}

.banner-image {
    background-image: url("../img/home.png");
    
}

.card{
    background-color: #EEEFF0;
}