body {
    background-image: linear-gradient(to bottom, #0E0B17, #111224, #2E3357);
}

h2 {
    font-family: 'Original Surfer', cursive;
    color: white;
}

.card {
    background-color: #A9B2CA;
}

.navbar {
    background-image: linear-gradient(to bottom, #0E0B17, #111224, #2E3357);
}

p {
    font-family: 'Quicksand', sans-serif;
    color: white;
    align-self: center;
    
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}